<style>
.cen-nav{
      padding-left: 38%;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light navbar-full" style="background-color: rgb(233, 233, 235);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="cen-nav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">MEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">WOMEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">KIDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HOME & LIVING</a>
      </li>
    </ul>
    </div>
  </div>
</nav>