<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
.card {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contain {
  padding: 2px 16px;
}

.containe{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
</head>
<body>

  


<div class="containe">
<div class="card">
  <img src="https://5fbb4b60e5a371522c26-c46478628be7be7c70f96ec65a31d1c7.ssl.cf3.rackcdn.com/Images/ProductImages/Big/BadRhino_Red_Brushed_Checked_Shirt_200668_476d.jpg" alt="Avatar" style="width:30%">
  <div class="contain">
    <h4><b>Shirt</b></h4> 
    <button type="button" class="btn btn-primary">Add to cart</button>
    <button type="button" class="btn btn-primary">Buy Now</button>  

  </div>
</div>


<div class="card">
  <img src="http://assets.myntassets.com/assets/images/7158565/2018/11/15/285759d8-6b22-4c4d-9668-341de1b3d9551542285422859-Calvin-Klein-Jeans-Men-Jeans-8791542285421138-1.jpg" alt="Avatar" style="width:30%">
  <div class="container">
    <h4><b>Jeans</b></h4> 
    <button type="button" class="btn btn-primary">Add to cart</button>
    <button type="button" class="btn btn-primary">Buy Now</button>  

  </div>
</div>


<div class="card">
  <img src="https://img2.junaroad.com/uiproducts/13408711/pri_175_p-1493382530.jpg" alt="Avatar" style="width:30%">
  <div class="container">
    <h4><b>Saree</b></h4> 
    <button type="button" class="btn btn-primary">Add to cart</button>
    <button type="button" class="btn btn-primary">Buy Now</button>  

  </div>
</div>



<div class="card">
  <img src="https://images.yoox.com/37/37940503bq_14_f.jpg" alt="Avatar" style="width:30%">
  <div class="container">
    <h4><b>Tshirt</b></h4> 
    <button type="button" class="btn btn-primary">Add to cart</button>
    <button type="button" class="btn btn-primary">Buy Now</button>  

  </div>
</div>


<div class="card">
  <img src="https://image.dhgate.com/0x0s/f2-albu-g6-M00-DE-63-rBVaR1ql8M2AAW5hAAGlun-g26o781.jpg/girls-tops-kids-clothes-new-2018-princess.jpg" alt="Avatar" style="width:30%">
  <div class="container">
    <h4><b>Tops</b></h4> 
    <button type="button" class="btn btn-primary">Add to cart</button>
    <button type="button" class="btn btn-primary">Buy Now</button>  

  </div>
</div>
</div>




</body>
</html> 
