!DOCTYPE html>
<html>
<head>
	<title>Phone number confirmation</title>
</head>
<body>
    <h1>Hi  the phone number <%= @store.shop_phone_no %> for your shop <%= @store.shop_name %> has been verified.
    
	
</body>
</html>