@import "bootstrap";

body{
    background-color: #F1F3F6;
}

.logo { 
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
    margin-left: 150px;
}

/*  test */ 
.order-new{
    margin-left: 18%;
    margin-top: -47%;
    margin-right: 5%;
}

.order-header{
    position: absolute;
    margin-left: 18%;
    margin-top: -44%;
}