
/*table */ 
.long2{
  display: flex;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long{
  display: block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width:150px;
}

.long1{
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 15px;
}

.table thead th {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-bottom: 0px;
  width: 10em;
  text-align: left;
}

.table tbody td {
  width: 10em;
  text-align: left;
}

.table-bordered td {
  border: 0px solid #dee2e6;
}

.table-bordered th, .table-bordered td {
  border: 0px solid #dee2e6;
}

tbody.scrollContent {
  display: block;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 70em;
}

.fixedHeader {
  display: block;
  width: 100%;
}

/*table */ 

.row{
  width: 70em;
}

.pro_sell-2{
  margin-top: -43.7%;
  margin-left: 18%;
}

.pro-header-select{
  margin-top: 50px;
}

select{
  margin-bottom: 15px;
}

.hr6{
  margin-top: -0.1px;
}

.back1{
  margin-left: 80%;
}

.vl {
  border-left: 1px solid rgb(216, 216, 216);
  height: 300px;
}

.dropdown-inventory{
  position: absolute;
  margin-left: 18%;
  margin-top: -40%;
}

.pro_sell-3{
  margin-top: 8%;
  margin-left: 17%;
}

.btn-inventory{
  background-color: transparent;
  border: none;
}

.btn-inventory:hover{
  background-color: transparent;
  border: none;
}

.btn-secondary {
  background-color: transparent;
  border-color: transparent;
}

.btn{
  padding: 0rem 0rem 0rem 0rem;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: black;
  background-color: transparent;
  border-color: transparent;
}

btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.view{
  color: black;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem transparent;
}