
.logo1 { 
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222); 
  margin-left: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 2px;
}

.company-logo{
  background-color: rgb(0, 142, 230);
}

.company-name{
  color: white;
  font-size: 25px;
  letter-spacing: 8px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.company-name-head{
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.form{
  position: absolute;
  margin-left: 15rem !important;
  width: 20em;
  margin-top: 1em;
}

.search{
  position: absolute;
  margin-left: 17.5em;
  margin-top: -2.05em;
  background-color: #ffffff;
  border-color: white;
  border-style: none;
}

.pro-create{
  position: absolute;
  width: 8em;
  margin-left: 74rem !important;
  margin-top: 1.8em;
}

.header_bck{
  margin-top: 5%;
}

.pro_sell{
    position: absolute;
    margin-left: 17%;  
    margin-top: 5%;
}

.container2{
  float: left;
  padding-left: 0px;
  width: 1.0000em;
}

/*table */ 

.long{
  display: block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width:150px;
}

.long1{
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 12px;
}

.table thead th {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-bottom: 0px;
}

.table-bordered td {
  border: 0px solid #dee2e6;}

.table-bordered th, .table-bordered td {
  border: 0px solid #dee2e6;}

tbody.scrollContent {
  display: block;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%
}

.fixedHeader {
  display: block;
  width: 100%;
}

.header{
  text-align: center;
  margin-top: 30px;
}

.container1{
  margin-left: 28.5%;
  margin-top: 50px;
}

.form-control{
  width: 100%;
}

.form-actions{
  text-align: center;
}

.end{
  text-align: center;
}

.deactive{
  padding-left: 24%;
}

hr{
  margin-top: 150px;
}


/* Sidebar style */ 

a{
  text-decoration: none;
  transition: all 0.6s ease;
  
  &:hover{
    transition: all 0.6s ease;
    text-decoration: none;
  }
}

.app{
  height: 100vh;
}

/* -------------
Sidebar#50A6DD, #3173B9
----------------*/
.sidebar {
  position: absolute;
  //width: 33.3333%;
  width: 14em;
  height: 100%;
  top: 0;
  overflow:hidden;
  background-color: #50A6DD;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  
  header{
    background-color: rgb(11, 149, 235);
    width: 14em;
    display:block;
    padding: 0.75em	1em;
  }
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  position: fixed;
  //width: 13em;
  background-color: rgb(11, 149, 235);
  height: 100%;
  font-weight: 400; 
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
 
  
  ul{
    list-style:none;
    display: block;
    padding: 0;
    margin: 0;
    
    li{
      margin-left: 0;
      padding-left: 0;
      //min-width: 13em;
      display:inline-block;
      width: 100%;
      
      a{
        color: rgba(255,255,255,0.9);
        font-size: 0.75em;
        padding: 1.05em	1em;
        position: relative;
        display:block;
        
        &:hover{
          background-color: #3173B9;
          transition: all 0.6s ease;
        }
      }
/* -------------
Sidebar: icons
----------------*/
      i{
        font-size: 1.8em;
        padding-right: 0.5em;
        
        display: inline;
        vertical-align:middle;
      }  
    }
  }


/* -------------
Nav-Flyout
----------------*/
  & .nav-flyout {
    position: absolute;
    background-color: #3173B9;
    z-index: 9;
    left: 2.5em;
    top: 0;
    height: 100vh;
    width: 100vh;
    transform: translateX(100%);
    transition: all 0.5s ease;
    
    a:hover{
      background-color: rgba(255,255,255, 0.05)
    }
  }

/* -------------
Hover
----------------*/
  & ul > li:hover{
      .nav-flyout{
      transform: translateX(0);
      transition: all 0.5s ease;
    }
  }
}

/* sidebar style end */


.dropdown-toggle::after {
  display:none;
}

.top-menu{
  position: absolute;
  margin-left: 18%;
  margin-top: -41%;
}

.first{
  position: absolute;
  margin-left: 56em;
  margin-top: -2.5em;
}

.main{
  margin-top: -38%;
}

.pro-head{
  position: absolute;
  margin-left: 18%;
  margin-top: -43.7%;
}

/* index inventory stock */ 

.main2{
  margin-top: -43%;
}

