.content {
    background-color: rgb(35, 48, 59);
    height: 16em !important;
    width: 100%;
    margin-top: 1px !important;
}

ul {
    margin-top: 15px !important;
}

li {
    color: white;
}

.declearetion {
    color: white;
    font-size: 15px;
    float: inline-start;
}

.combo-label {
    margin-bottom: .5em;
}