.form {
    width: 40%;
    margin-left: 15px;
}

.search {
    position: absolute;
    right: 0.001px;
    margin-right: 50%;
    top: 1.5px;
    margin-top: 1.4%;
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
}

.log {
    color: white;
    position: absolute;
    top: 1.5px;
    margin-top: 1.7%;
    right: 0.001px;
    margin-right: 30%;
}

#navbarDropdown2 {
    color: white;
}

#navbarDropdown3 {
    color: white;
}

.dropdown {
    position: absolute;
    right: 0.001px;
    margin-right: 24%;
    top: 1.5px;
    margin-top: 1.2%;
}

.cart {
    color: white;
    position: absolute;
    right: 0.001px;
    margin-right: 21%;
    margin-top: 1.8%;
    top: 1.5px;
}

.drop {
    position: absolute;
    right: 0.001px;
    margin-right: 29.5%;
    top: 1.5px;
    margin-top: 1%;
}

.log:hover {
    color: #222;
    text-decoration: none;
}

.cart:hover {
    color: #222;
    text-decoration: none;
}

#navbarDropdown2:hover {
    color: #222;
    text-decoration: none;
}

#navbarDropdown3:hover {
    color: #222;
    text-decoration: none;
}

.container div {
    border: grey 1px solid;
    width: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: white;
    float: left;
    transition: all 0.5s ease;
}

.hidden {
    display: none;
}