.img{
	height: 150px;
}

.col-1{
    flex: 0 0 10%;
}

.product-grid {
	width: 100%;
    margin-top: 0.1em;
    margin-left: 0.1em;
	

	&.product-grid--flexbox {
		.product-grid__wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		
		.product-grid__title {
			height: auto;	
			&:after { display: none; }
		}
	}

	&__wrapper {
		margin-left: -15rem;
		margin-right: -1rem;
		background: rgb(0, 0, 0);
	}
	
	&__product-wrapper {
		float: left;
		width: 100%;
	}
	
	
	&__product {
        padding-bottom: 20%;
		float: left;
		position: relative;
		cursor: pointer;
		background: rgb(255, 255, 255);
		box-shadow: rgb(136, 136, 136);
        margin-bottom: 25px;

        width: 20em;
        box-sizing: content-box;
		
		&:hover {
			box-shadow: 0 0 5px rgba(109, 109, 109, 0.8);
			
			.product-grid__extend {
				display: block;
			}
		}
	}
	
			
	&__img-wrapper {
		width: 100%;
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 50px;
	}
	
	
    &__img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
	
	
	&__title {
        position: absolute;
        margin-top: 11rem;
        margin-left: 9%;
		display: inline-block;
		font-size: 1.125em;
		color: rgb(0, 0, 0);
		height: 3em;
		overflow: hidden;
        width: calc(100% - 80px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
		
		&:after {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 2.4em;
			height: 1.5em;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
			background: rgb(0, 132, 255);
		}
	}
	
	&__price {
		color: rgb(0, 0, 0);
		font-weight: bold;
        letter-spacing: .4px;
        position: absolute;
        margin-top: 11.5rem;
        margin-left: 9%;
	}
	
	
	&__extend-wrapper {
		position: relative;
	}
	

	&__extend {
		display: none;
		position: absolute;
		margin-left: -12px;
		margin-right: 4px;
		margin-top: 60px;
		background: rgb(255, 255, 255);
		padding-left: 1rem;
		padding-bottom: 1rem;
		padding-right: 0.5rem;
		
		&:before {
			content: "";
			height: .875rem;
			width: 100%;
			position: absolute;
			top: -.4375rem;
			left: 0;
			background: rgb(255, 255, 255);
		}
	}
	
	
	&__description {
		font-size: .875em;
		margin-top: .875rem;
		margin-top: .4375rem;
		margin-bottom: 0;
	}
	
	
	&__btn {
		display: inline-block;
		font-size: .875em;
		color: rgb(0, 132, 255);
		background: light-gray;
		padding: .6em .625em;
		margin-top: .875rem;
		margin-right: .625rem;
		cursor: pointer;
	}
	
	
	&__add-to-cart {
		color: #fff;
		background: #3173B9;
		margin-right: 35px;
		
		&:hover { background: lighten(#50A6DD, 10%); }
	}
	
	&__view {
		color: #fff;
		background: #3173B9;
		
		&:hover { background: lighten(#50A6DD, 10%); }
	}
}

#slideshow {
	margin: 0px auto;
	position: relative;
	width: 100%;
	height: 320px;
}

.ads{
	width: 100%;
	height:280px;
}

#slideshow > div {
	position: absolute;
	top: 0.1px;
	left: 0.1px;
	right: 0.1px;
	bottom: 0.1px;
}

.content{
	background-color: rgb(35, 48, 59);
	height: 16em;
	margin-top: 1px;
}

ul {
	list-style-type: none;
}

.footer1{
	padding-top: 2%;
}

.info{
	color: #fff;
	margin-top: 0.6%;
}

.info:hover{
	text-decoration: none;
	color: #3173B9;
}

.info1{
	color: #fff;
	position: absolute;
	margin-top: -10%;
	margin-left: 12%;
}

.info1:hover{
	text-decoration: none;
	color: #3173B9;
}

.info2{
	color: #fff;
	position: absolute;
	margin-top: -7.7%;
	margin-left: 12%;
}

.info2:hover{
	text-decoration: none;
	color: #3173B9;
}

.info3{
	color: #fff;
	position: absolute;
	margin-top: -5.5%;
	margin-left: 12%;
}

.info3:hover{
	text-decoration: none;
	color: #3173B9;
}

.info4{
	color: #fff;
	position: absolute;
	margin-top: -3%;
	margin-left: 12%;
}

.info4:hover{
	text-decoration: none;
	color: #3173B9;
}

.info5{
	color: #fff;
	position: absolute;
	margin-top: -10%;
	margin-left: 30%;
}

.info5:hover{
	text-decoration: none;
	color: #3173B9;
}

.info6{
	color: #fff;
	position: absolute;
	margin-top: -7.7%;
	margin-left: 30%;
}

.info6:hover{
	text-decoration: none;
	color: #3173B9;
}

.info7{
	color: #fff;
	position: absolute;
	margin-top: -5.5%;
	margin-left: 30%;
}

.info7:hover{
	text-decoration: none;
	color: #3173B9;
}

.info8{
	color: rgb(187, 187, 187);
	position: absolute;
	margin-top: -10%;
	margin-left: 70%;
	padding-right: 12%;
	font-size: 15px;
}

.info9:hover{
	text-decoration: none;
	color: rgb(187, 187, 187);
}

.ec{
	font-size: 11.5px;
}

hr{
	height: 1px;
	color: rgb(92, 92, 92);
	background-color: rgb(92, 92, 92);
	border: none;
	margin-top: 3em;
}

.declearetion{
	color: white;
	margin-left: 37%;
	font-size: 15px;
}
