/* product create or edit page */

.pro-head {
    position: fixed;
    top: 0;
    margin-left: 7rem !important;
    margin-top: 5rem !important;
    width: 90%;
}

.import {
    position: fixed;
    top: 0;
    margin-left: 13rem !important;
    margin-top: 5rem !important;
}

.pro_sell-2 {
    position: fixed;
    top: 0;
    margin-left: 7rem !important;
    margin-top: 8rem !important;
}

.row {
    width: 70em;
}

.pro-header-select {
    margin-top: 50px;
}

select {
    margin-bottom: 15px;
}

.back1 {
    margin-left: 80%;
}

.btn-success {
    margin-left: 17px;
}


/* Product show page */

.all {
    margin-left: 18%;
    position: fixed;
    top: 0;
}

.titel {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 5em;
}

.col-sm-6 {
    padding-left: 0px;
}

.pro-head-2 {
    position: absolute;
    top: 0;
    margin-top: 1.2rem !important;
}

.product-image {
    margin-left: 15em;
}