.main {
    position: fixed;
    top: 0;
    margin-top: 7em !important;
    margin-left: 15em !important;
}

hr {
    margin-top: 3em;
}

.deactive {
    margin-left: 49em;
}

.form-control {
    width: 50%;
}