<%= stylesheet_link_tag 'company_content', media: 'print, screen' %>

<div class="content">
  <div style="float: left !important; width: 15% !important;">
    <ul style="list-style: none;">
      <li>About us</li>
      <li>Contact</li>
      <li>Career</li>
      <li>Customer care</li>
    </ul>
  </div>
  <div style="float: left !important; width: 15% !important;">
    <ul style="list-style: none;">
      <li>Advertise on WeeBuy</li>
      <li>Retrun & Refund</li>
      <li>Cancellation</li>
      <li>FAQ</li>
    </ul>
  </div>
  <div style="float: left !important; width: 15% !important;">
    <ul style="list-style: none;">
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Youtube</li>
    </ul>
  </div>
  <div style="float: right; width: 20%;">
    <ul style="list-style: none;">
      <li class="info8">
        <p class="info9">
          Weebuy Technologies Pvt. Ltd.
          FD-324, FD Block,
          FD Park, Sector-III,
          Salt Lake, Kolkata,
          West Bengal, India, 700106 <br/>
          <h7 class="ec">email: dibon.biswas@yahoo.com <br/>
          contact: 9674994334</h7>
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="content1" style="height: 50px; border-top: 1px solid rgb(110, 110, 110);background-color: rgb(35, 48, 59);">
  <h7 class="declearetion" style="margin-top: 15px;  margin-left: 39%;">© 2018-2019 WeeBuy.in. All rights reserved. </h7>
</div>
