<h1>Products</h1>

<div class="container">
  <div class="row">
  
     <% unless @products.nil?
       @products.each do |product| %>
        <div class="col-4">
           <%= image_tag url_for(product.images.first), size: "64" if product.images.attached? %>
           <%= product.name %>
           <%= product.price %>
        </div>
     <% end  end %>
  </div>
</div>
